.page {
  display: flex;
  height: 100vh;
  background-color: white;
  color: black;
}

.columnLeft {
  flex: 0 0 20%;
  padding: 2rem;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columnRight {
  flex: 1; /* Remaining space */
  width: 80vh;
  padding: 2rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: gray;
}

.inlineLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  color: gray;
}

.input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid lightgray;
  border-radius: 4px;
}

.checkbox {
    margin-left: 1rem;
}

.button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: black;
}